<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projeto 5 - Carro</title>

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
	<div class="container">
		<div class="logo">
			<img src="{{ url_for('static', filename='images/logo.jpg') }}">
		</div>

	<nav class="desktop">
		<ul>
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a style="color: #EB2D2D;" href="{{ url_for('venda') }}">Venda</a></li>
			<li><a href="{{ url_for('sobre') }}">Sobre</a></li>
			<li><a class="contato" goto="contato" href="{{ url_for('home') }}">Contato</a></li>
		</ul>		
	</nav>

	<nav class="mobile">
		<ul>
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a style="color: #EB2D2D;" href="{{ url_for('venda') }}">Venda</a></li>
			<li><a href="{{ url_for('sobre') }}">Sobre</a></li>
			<li><a class="contato" goto="contato" href="{{ url_for('home') }}">Contato</a></li>
		</ul>		
	</nav>
	<div class="clear"></div>
	</div>
</header>

<section class="venda-single">
	<div class="line-titulo">
		<div class="ln1"></div>
		<h2>Volkswagen Karmann-ghia 1970</h2>
	</div>

	<div class="container">

	<div class="info-veiculo">
		<div class="foto-destaque"></div>

		<div class="nav-galeria-parent">
		<div class="arrow-left-nav"></div>
		<div class="arrow-right-nav"></div>
		<div class="nav-galeria">
			<div class="nav-galeria-wrapper">
				<div class="mini-img-wrapper">
					<div style="background-image: url('../static/images/carro1.jpg')" class="mini-img"></div>
				</div>

				<div class="mini-img-wrapper">
					<div style="background-image: url('../static/images/carro1.jpg')" class="mini-img"></div>
				</div>

				<div class="mini-img-wrapper">
					<div style="background-image: url('../static/images/carro1.jpg')" class="mini-img"></div>
				</div>

				<div class="mini-img-wrapper">
					<div style="background-image: url('../static/images/carro1.jpg')" class="mini-img"></div>
				</div>

				<div class="mini-img-wrapper">
					<div style="background-image: url('../static/images/carro1.jpg')" class="mini-img"></div>
				</div>

				<div class="mini-img-wrapper">
					<div style="background-image: url('../static/images/carro1.jpg')" class="mini-img"></div>
				</div>
			</div>
		</div>
		</div>
	</div>

	<div class="descricao-veiculo">
		<h2>R$20.000,00</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultricies justo quis odio sagittis rutrum. In ultricies ligula eu libero viverra, quis dapibus dui consectetur. Morbi non ullamcorper dui. Vivamus nec mauris sed elit maximus molestie eget ac nisl.</p>
		<a class="btn1" goto="contato" href="">Entre em contato</a>
	</div>

	<div class="clear"></div>
	</div>
</section>

<section id="contato" class="contato">
	<div class="line-titulo">
		<div class="ln1"></div>
		<h2>Entre em contato</h2>
	</div>

	<form>
		<div class="input-wrapper w100">
			<input type="text" name="nome" placeholder="Nome" required>
		</div>

		<div class="input-wrapper w50">
			<input type="text" name="email" placeholder="E-mail" required>
		</div>

		<div class="input-wrapper w50">
			<input type="text" name="telefone" placeholder="Telefone" required>
		</div>

		<div class="input-wrapper w100">
			<textarea placeholder="Mensagem" required></textarea>
		</div>

		<div class="input-wrapper w100">
			<input class="btn1" type="submit" name="submit" value="Enviar">
		</div>
		<div class="clear"></div>
	</form>
</section>

<section class="veiculos-destaque">
	<div class="line-titulo">
		<div class="ln1"></div>
		<h2>Veículos em destaque</h2>
	</div>

	<div class="container">
		<div class="vitrine-destaque">
			<div style="background-image: url('../static/images/carro1.jpg');" class="carro-img"></div>
			<div class="info-carro">
				<h2>Volkswagen Karmann-ghia</h2>
				<p>1.6 8v, Gasolina, 2P, Manual 1969</p>
				<a class="btn1" href="">Mais Detalhes</a>
			</div>
		</div>

		<div class="vitrine-destaque">
			<div style="background-image: url('../static/images/carro2.jpg');" class="carro-img"></div>
			<div class="info-carro">
				<h2>Volkswagen Karmann-ghia</h2>
				<p>1.6 8v, Gasolina, 2P, Manual 1969</p>
				<a class="btn1" href="">Mais Detalhes</a>
			</div>
		</div>

		<div class="vitrine-destaque">
			<div style="background-image: url('../static/images/carro1.jpg');" class="carro-img"></div>
			<div class="info-carro">
				<h2>Volkswagen Karmann-ghia</h2>
				<p>1.6 8v, Gasolina, 2P, Manual 1969</p>
				<a class="btn1" href="">Mais Detalhes</a>
			</div>
		</div>
	</div>	

	<div class="clear"></div>
</section>

<footer>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a style="color: #EB2D2D;" href="{{ url_for('venda') }}">Venda</a></li>
				<li><a href="{{ url_for('sobre') }}">Sobre</a></li>
				<li><a class="contato" goto="contato" href="">Contato</a></li>
			</ul>
		</nav>
		<p>Todos os direitos reservados | 2022</p>
	</div>
	<div class="clear"></div>
</footer>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
</body>
</html>